body{
font-family: Arial;
background:#111;
color:white;
margin:0;
}

header{
background:#ff6a00;
padding:20px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.main{
padding:40px;
}

.package{
background:#222;
padding:20px;
margin:20px;
border-radius:8px;
}

.price{
color:#00ff90;
font-size:20px;
}

table{
width:100%;
background:#222;
}

td,th{
padding:10px;
}